{{#if user}}
<header class="header bg-primary py-2">
    <div class="container">
      <nav class="navbar navbar-expand">
        <ul class="navbar-nav d-flex flex-row">
            <a class="nav-link text-white" href="/menu">Principal</a>
            <a class="nav-link text-white" href="/places">Lugares</a>
            <a class="nav-link text-white" href="/reservations">Mis Reservaciones</a>
            <a class="nav-link text-white" href="/logout">Cerrar sesión</a>
        </ul>
      </nav>
    </div>
  </header>
  <main>
   <p>Este es el menu</p> <!-- Aquí se inserta el contenido de cada vista -->
  </main>

{{/if}}
