<main
    style="font-family: Arial, sans-serif; margin: 20px; padding: 20px; text-align: center; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #03254c;">¡Bienvenido a Parking express!</h1>
    <p style="color: #333; font-size: 18px; margin: 20px 0;">
        Somos una empresa en crecimiento, comprometida con brindarte una experiencia segura y conveniente para
        estacionar tu vehículo en Puebla.
        Estamos empezando este emocionante viaje y queremos que formes parte de él.
    </p>
    <p style="color: #333; font-size: 16px; margin: 20px 0;">
        Regístrate hoy y disfruta de una manera más práctica de gestionar tus reservaciones de estacionamiento.
    </p>
    <a href="/saveUser"
        style="display: inline-block; background-color: #03254c; color: #fff; text-decoration: none; padding: 12px 20px; border-radius: 5px; font-size: 16px; margin-top: 20px;">
        Crear Cuenta
    </a>
</main>