<main
  style="font-family: Arial, sans-serif; margin: 20px; padding: 20px; text-align: center; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <h1 style="color: #03254c;">¡Gracias por unirte a Parking express!</h1>
  <p style="color: #333; font-size: 18px; margin: 20px 0;">
    Nos alegra tenerte con nosotros. Apreciamos tu confianza y preferencia mientras seguimos creciendo como una empresa
    comprometida con facilitar tu experiencia de estacionamiento en Puebla.
  </p>
  <p style="color: #333; font-size: 16px; margin: 20px 0;">
    Navegar por nuestro sitio web es fácil e intuitivo. Desde reservar un lugar hasta gestionar tus horarios, todo está
    diseñado para brindarte comodidad y rapidez.
  </p>
  <p style="color: #333; font-size: 16px; margin: 20px 0;">
    Si tienes alguna duda, no dudes en contactarnos. ¡Estamos aquí para ayudarte en cada paso del camino!
  </p>
  <a href="/reservations"
    style="display: inline-block; background-color: #03254c; color: #fff; text-decoration: none; padding: 12px 20px; border-radius: 5px; font-size: 16px; margin-top: 20px;">
    Ver Reservas
  </a>

  <!--div-- style="background-color: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 0, 0,
            0.1); width: 250px; text-align: center;">
    <h3 style="color: #03254c;">Explora nuestros lugares para empezara reservar</h3>
    <p style="color: #555; font-size: 14px;">
      Nuestros lugares se encuentran en zonas transitadas de Puebla, echa un vistazo a algún lado de tu agrado.
    </p>
    <a href="/places"
      style="display: inline-block; background-color: #03254c; color: #fff; text-decoration: none; padding: 10px 15px; border-radius: 5px; font-size: 14px;">
      Lugares disponiples
    </a>
  </div-->

  <div>

  </div>
  <div>

  </div>
  <div>

  </div>
</main>