<main
    style="font-family: Arial, sans-serif; margin: 20px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #03254c; font-size: 36px; font-weight: 700; text-align: center; margin-bottom: 40px;">Política de
        Privacidad</h1>

    <section
        style="max-width: 1200px; margin: 0 auto; padding: 20px; background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <p style="font-size: 16px; line-height: 1.8; color: #333;">
            <strong>Por Erik Espinosa Lopez | Diciembre 3, 2024 | Sin categoría |</strong><br><br>
            Última actualización: 03/08/2022
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Redcomercio («nosotros», «nosotros» o «nuestro») opera el sitio web y la aplicación Parking express (el
            «Servicio»).
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Esta página le informa sobre nuestras políticas con respecto a la recopilación, el uso y la divulgación de
            información personal cuando utiliza nuestro Servicio.
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            No utilizaremos ni compartiremos su información con nadie, excepto como se describe en esta Política de
            privacidad.
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Utilizamos su información personal para proporcionar y mejorar el servicio. Al utilizar el Servicio, usted
            acepta la recopilación y el uso de la información de acuerdo con esta política. A menos que se defina lo
            contrario en esta Política de privacidad, los términos utilizados en esta Política de privacidad tienen los
            mismos significados que en nuestros Términos y condiciones.
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Recopilación y uso de información</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Mientras usamos nuestro Servicio, es posible que le solicitemos que nos brinde cierta información de
            identificación personal que pueda usarse para contactarlo o identificarlo. La información de identificación
            personal («Información personal») puede incluir, pero no se limita a:
        </p>
        <ul style="font-size: 18px; line-height: 1.8; color: #333; padding-left: 20px;">
            <li>Nombre</li>
            <li>Dirección de correo electrónico</li>
            <li>Datos bancarios</li>
        </ul>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Al momento de registrarse para utilizar el Servicio, usted consiente y autoriza expresamente a Redcomercio
            para efectuar el tratamiento de sus datos personales (en adelante su “Información Personal”).
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Datos de registro</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Recopilamos información que su navegador envía cada vez que visita nuestro Servicio («Datos de registro»).
            Estos datos de registro pueden incluir información como la dirección del Protocolo de Internet («IP») de su
            computadora, el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la
            fecha y hora de su visita, el tiempo dedicado a esas páginas y otros estadísticos.
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Cookies</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Las cookies son archivos con una pequeña cantidad de datos, que pueden incluir un identificador único
            anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en el disco duro de su
            computadora.
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Utilizamos «cookies» para recopilar información. Puede indicar a su navegador que rechace todas las cookies
            o que indique cuándo se está enviando una cookie. Sin embargo, si no acepta las cookies, es posible que no
            pueda utilizar algunas partes de nuestro Servicio.
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Proveedores de servicio</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Es posible que contratemos a terceros e individuos para facilitar nuestro Servicio, para proporcionar el
            Servicio en nuestro nombre, para realizar servicios relacionados con el Servicio o para ayudarnos a analizar
            cómo se utiliza nuestro Servicio.
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Estos terceros tienen acceso a su información personal solo para realizar estas tareas en nuestro nombre y
            están obligados a no divulgarla ni utilizarla para ningún otro fin.
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Seguridad</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            La seguridad de su información personal es importante para nosotros, pero recuerde que ningún método de
            transmisión a través de Internet o de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por
            utilizar medios comercialmente aceptables para proteger su información personal, no podemos garantizar su
            absoluta seguridad.
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            No tenemos control sobre, y no asumimos ninguna responsabilidad por el contenido, las políticas de
            privacidad o las prácticas de los sitios o servicios de terceros.
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Privacidad de los niños</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Nuestro Servicio no se dirige a ninguna persona menor de 18 años («Niños»).
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            No recopilamos, a sabiendas, información de identificación personal de niños menores de 18 años. Si usted es
            un padre o tutor y sabe que su hijo nos ha proporcionado información personal, comuníquese con nosotros. Si
            descubrimos que un niño menor de 18 años nos ha proporcionado información personal, eliminaremos dicha
            información de nuestros servidores de inmediato.
        </p>

        <h2 style="color: #1167b1; font-size: 28px; margin-top: 40px;">Cambios en esta política de privacidad</h2>
        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio
            mediante la publicación de la nueva Política de privacidad en esta página.
        </p>

        <p style="font-size: 18px; line-height: 1.8; color: #333;">
            Se recomienda revisar esta Política de privacidad periódicamente para detectar cualquier cambio. Los cambios
            a esta Política de privacidad son efectivos cuando se publican en esta</p>