<form method="post" class="w-50">
        <div class="mb-3">
            <input
                type="text"
                placeholder="Nombre"
                name="name"
                class="form-control"
                value="{{name}}"
            />
            <input
                type="text"
                placeholder="Apellidos"
                name="lastname"
                class="form-control"
                value="{{lastname}}"
            />
        </div>
         <div class="mb-3">
            <input
                type="text"
                placeholder="Usuario"
                name="username"
                class="form-control"
                value="{{username}}"
            />
        </div>
        <div class="mb-3">
            <input
                type="password"
                placeholder="Contraseña"
                name="password" class="form-control" value="{{password}}"
            />
        </div>
        <button type="submit" class="primary-btn">Guardar</button>
    </form>