<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
  <!-- Barra de navegación -->
  <header class="header bg-primary py-2">
    <div class="container">
      <nav class="navbar navbar-expand">
        <ul class="navbar-nav d-flex flex-row">
            <a class="nav-link text-white" href="/principal">Principal</a>
            <a class="nav-link text-white" href="/lugares">Lugares</a>
            <a class="nav-link text-white" href="/reservaciones">Mis Reservaciones</a>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {{{body}}} <!-- Aquí se inserta el contenido de cada vista -->
  </main>
  <footer class="footer">
    <p>© 2024 Mi Aplicación</p>
  </footer>
</body>
</html>
